<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Client</title>
    <link rel="stylesheet" href="text/css" th:href="@{/webjars/bootstrap/css/boostrap.min.css}">
</head>
<body>
<div class="container-fluid">
    <h2>Add Client</h2>
    <form th:action="@{/clients/save}" method="post" th:object="${client}">
<!--        <input type="text" th:field="*{client_id}" class="form-control">-->
        <label class="col-form-label">Name</label>
        <input type="text" th:field="*{name}" class="form-control">
        <label class="col-form-label">Surname</label>
        <input type="text" th:field="*{surname}" class="form-control">
        <label class="col-form-label">Pesel</label>
        <input type="text" th:field="*{pesel}" class="form-control">
        <label class="col-form-label">Phone_number</label>
        <input type="text" th:field="*{phone_number}" class="form-control">
        <label class="col-form-label">Birth_date</label>
        <input type="date" th:field="*{birth_date}" class="form-control">
        <label class="col-form-label">Postal_code</label>
        <input type="text" th:field="*{postal_code}" class="form-control">
        <label class="col-form-label">City</label>
        <input type="text" th:field="*{city}" class="form-control">
        <label class="col-form-label">Street</label>
        <input type="text" th:field="*{street}" class="form-control">
        <button type="submit">Save</button>
        <button type="button"><a th:href="@{/offers}">Cancel</a></button>
    </form>
    </th:block>
</div>
</body>
</html>