<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>MainPage</title>
    <link rel="stylesheet" href="text/css" th:href="@{/webjars/bootstrap/css/boostrap.min.css}">
</head>
<body>
<div>
    <h1>Hi, user!</h1>
    <h2>Look what people selling!</h2>
    <a th:href="@{/clients/new}">If you want to add your offer click here!</a>
</div>
<div>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>offer_id</th>
                <th>prize</th>
                <th>start_date</th>
                <th>car_id</th>
                <th>client_id</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="offer: ${offersList}">
                <tr>
                    <td>[[${offer.offer_id}]]</td>
                    <td>[[${offer.prize}]]</td>
                    <td>[[${offer.start_date}]]</td>
                    <td>[[${offer.car_id}]]</td>
                    <td>[[${offer.client_id}]]</td>
                    <td>
                        <a class="h4" th:href="@{'/offers/edit/' + ${offer.offer_id}}">Edit</a>
                        <a class="h4" th:href="@{'/offers/delete/' + ${offer.offer_id}}">Delete</a>
                    </td>
                    <td>
                        <a th:href="@{/cars/getCar/{id}(id=${offer.car_id})}">Car_info</a>
                        <a th:href="@{/clients/getClient/{id}(id=${offer.client_id})}">Client_info</a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
</div>

</body>
</html>